<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
    <link rel="stylesheet" href=" {{ '/css/blog.css' | url }}">
    <title>{{ title }} | Saqib Blogs</title>
</head>
<body>
    {% include "header.njk" %}
    <main>
        <h1>{{ title }} </h1>
        {{ content  | safe }}
    </main>
    {% include "footer.njk" %}
</body>
</html>