/* ---- Blog Snippet CSS ----- */

.blog-card {
  display: flex;
  padding: 20px;
  margin-block: 15px;
  justify-content: space-between;
  transition: 0.3s;
  position: relative;
}
.blog-card:before {
  content: "";
  width: 8px;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: crimson;
  transition: 0.3s;
  transform-origin: left;
}
.blog-card:hover::before {
  transform: scaleX(1.2);
}
.blog-card * {
  margin-block: 8px;
}
.blog-content {
  width: 40%;
}
.blog-title {
  font-size: 25px;
  font-weight: bold;
}
.blog-link-btn {
  padding: 8px 16px;
  cursor: pointer;
  background-color: crimson;
  color: white;
  border: none;
  box-shadow: black 3px 3px 0px;
  transition: 0.3s;
}
.blog-link-btn:hover {
  box-shadow: black 5px 5px 0px;
}
.blog-image {
  width: 400px;
  aspect-ratio: 16/9;
}

/* ---- Blog Page CSS ---- */

.blog-article > * {
  margin-bottom: 20px;
}
.blog-article .blog-article-title {
  color: crimson;
}

.blog-article .blog-article-figure {
  text-align: center;
}
.blog-article .blog-article-figure img {
  border: 10px solid black;
  width: 50vw;
  aspect-ratio: 16/9;
}
.blog-article .blog-content {
  margin: auto auto;
  width: 70%;
  text-align: left;
}
