---
title: "About"
layout: "base.njk"
---

I'm a software engineer who's all about crafting dependable, scalable systems that you can rely on. I've got a knack for both writing code and ensuring everything runs smoothly behind the scenes. During my internships, I've dabbled in everything from building sleek user interfaces to fine-tuning the backend to keep things ticking.

Now, I'm on the lookout for an opportunity that'll really challenge me and let me flex my skills as a full-stack web developer. I thrive on being part of a team that's pushing boundaries and creating something special. Let's build something awesome together!
